@import "./utils/variables";

:global {
  * {
    margin: 0 auto;
    box-sizing: border-box;
  }

  body, html, #root {
    height: 100%;
  }

  body {
    background: $light-gray;
  }

  .loading {
    text-align: center;
  }

  .card {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background: $white;
    margin-left: 10px;
    margin-right: 10px;
  }

}

.Container {
  width: 970px;
  height: 100%;
}